@import "../../styles/functions";
@import "../../styles/typography";
@import "../../styles/variables";

.overlay {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: pxToRem(880);
  width: 100%;
  background-color: white;
  border-radius: pxToRem(8);
  display: flex;
  flex-direction: column;
  gap: pxToRem(16);
  padding: pxToRem(16);
  margin: pxToRem(16);

  h1 {
    @include title;
    margin-bottom: pxToRem(2);
  }
}

.content {
  @include text-body;

  height: 100%;
  display: flex;
  flex-direction: row;
  gap: pxToRem(24);
}

.imgContainer {
  width: pxToRem(360);
  flex: 0 0 pxToRem(360);
  display: flex;
  flex-direction: column;
  gap: pxToRem(24);
}

.date {
  color: $danger;
  margin-bottom: pxToRem(4);

  &::first-letter {
    text-transform: uppercase;
  }
}

.venue {
  @include text-small;

  color: $shade500;
  margin-bottom: pxToRem(10);
}

.tags {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: pxToRem(5);

  :global(.bg-categoryGastronomy) {
    color: black;
  }
}

.eventImg,
.eventImgSkeleton {
  width: pxToRem(360);
  height: pxToRem(240);
  object-fit: cover;
  border-radius: pxToRem(4);
  box-shadow: 0 0 pxToRem(4) pxToRem(2) rgba(0, 0, 0, 0.15);
}

.links {
  display: flex;
  flex-direction: column;
  gap: pxToRem(2);
  margin-bottom: pxToRem(10);
}

.link {
  @include text-small;

  color: blue;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: pxToRem(2);
  align-items: center;
}

.description {
  p {
    margin-bottom: pxToRem(8);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.category {
  @include title-small;

  text-transform: capitalize;
}

.close {
  position: absolute;
  top: pxToRem(16);
  right: pxToRem(16);
  cursor: pointer;
}

.btnsContainer {
  height: pxToRem(40);
  display: flex;
  flex-direction: row;
  gap: pxToRem(12);
  margin-top: auto;
  padding-top: pxToRem(12);
}

.participateBtn {
  width: 100%;
  color: black;
  font-weight: bold;
  background-color: $shade200;
  border-radius: pxToRem(4);

  &:active,
  &:focus {
    outline: none;
  }
}

.eventImgSkeleton {
  border-radius: pxToRem(4);
  background: linear-gradient(110deg, $shade100 8%, $shade50 18%, $shade100 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  box-shadow: none;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
