@import "../../styles/functions";
@import "../../styles/typography";
@import "../../styles/variables";

.marker,
.cluster {
  @include text-large;

  position: relative;
  transform: translate(0, 50%);
  width: pxToRem(48);
  height: pxToRem(48);
  border-radius: 99999px;
  border: pxToRem(1) solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 pxToRem(8) pxToRem(4) rgba(0, 0, 0, 0.2);

  &:active,
  &:focus {
    outline: none;
  }
}

.cluster {
  background-color: white;
}

.marker {
  color: white;

  &:global(.bg-categoryGastronomy) {
    color: black;
  }
}
