@import "../styles/variables";

.exhibitionIcon {
  color: $categoryExhibition;
}

.filmIcon {
  color: $categoryFilm;
}

.concertIcon {
  color: $categoryConcert;
}

.forChildrenIcon {
  color: $categoryForChildren;
}

.sportIcon {
  color: $categorySport;
}

.playIcon {
  color: $categoryPlay;
}

.clubbingIcon {
  color: $categoryClubbing;
}

.festivalIcon {
  color: $categoryFestival;
}

.inCityIcon {
  color: $categoryInCity;
}

.charityIcon {
  color: $categoryCharity;
}

.gastronomyIcon {
  color: $categoryGastronomy;
}