@import "../../styles/functions";
@import "../../styles/typography";
@import "../../styles/variables";

.overlay {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: min(calc(100vw - 32px), pxToRem(880));
  max-height: min(calc(100vh - 32px), pxToRem(440));
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: pxToRem(8);
  display: flex;
  flex-direction: column;
  gap: pxToRem(16);
  padding: pxToRem(16);

  h1 {
    @include title;

    text-align: center;
    width: 75%;
    margin-inline: pxToRem(20);
    margin-bottom: pxToRem(2);

    @media screen and (max-width: $breakpoint-sm) {
      @include text-large;

      font-weight: bold;
    }

    @media screen and (max-width: $breakpoint-xs) {
      @include title-small;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    max-width: min(calc(100vw - 16px), pxToRem(880));
    max-height: calc(100vh - 16px);
  }
}

.content {
  @include text-body;

  height: 100%;
  display: flex;
  flex-direction: row;
  gap: pxToRem(24);

  a {
    color: blue;
    text-decoration: underline;
  }

  ul {
    list-style: initial;
    padding-left: pxToRem(16);
    margin: pxToRem(8);
  }

  @media screen and (max-width: $breakpoint-sm) {
    overflow-y: auto;
    flex-direction: column;
    gap: pxToRem(16);
  }
}

.imgContainer {
  max-width: pxToRem(360);
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: pxToRem(24);

  @media screen and (max-width: $breakpoint-sm) {
    flex: 0 0 auto;
    max-width: 100%;
    align-items: center;
    gap: pxToRem(16);
  }
}

.date {
  color: $danger;
  margin-bottom: pxToRem(4);

  &::first-letter {
    text-transform: uppercase;
  }
}

.venue {
  @include text-small;

  color: $shade500;
  margin-bottom: pxToRem(10);
}

.tags {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: pxToRem(5);

  :global(.bg-categoryGastronomy) {
    color: black;
  }
}

.eventImg {
  height: auto;
  object-fit: cover;
  border-radius: pxToRem(4);
  box-shadow: 0 0 pxToRem(4) pxToRem(2) rgba(0, 0, 0, 0.15);
  background: linear-gradient(110deg, $shade100 8%, $shade50 18%, $shade100 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;

  @media screen and (max-width: $breakpoint-sm) {
    width: pxToRem(240);
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: pxToRem(2);
  margin-bottom: pxToRem(10);
}

.link {
  @include text-small;

  display: flex;
  flex-direction: row;
  gap: pxToRem(4);
  align-items: center;
  overflow-wrap: anywhere;

  svg {
    flex: 0 0 pxToRem(12);
  }
}

.description {
  overflow-y: auto;
  flex: 1 1 0;

  p {
    margin-bottom: pxToRem(8);
  }

  :last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $breakpoint-sm) {
    overflow-y: visible;
  }
}

.category {
  text-transform: capitalize;
  font-weight: bold;

  @media screen and (min-width: $breakpoint-sm) {
    @include title-small;
  }
}

.close {
  position: absolute;
  top: pxToRem(16);
  right: pxToRem(16);
  cursor: pointer;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
