@import "../../styles/functions";
@import "../../styles/typography";
@import "../../styles/variables";

.list {
  max-width: calc(100vw - 16px);
  background-color: white;
  border-radius: pxToRem(8);
  display: flex;
  flex-direction: column;
  padding: pxToRem(12) 0 pxToRem(12) pxToRem(8);
  box-shadow: 0 0 pxToRem(8) pxToRem(4) rgba(0, 0, 0, 0.2);
}

.schedulesWrapper {
  max-height: pxToRem(380);
  overflow-y: auto;
  padding-right: pxToRem(8);
}

.divider {
  height: pxToRem(1);
  border-color: $shade200;
  margin-block: pxToRem(4);
}

.arrow {
  position: absolute;
  content: "";
  width: pxToRem(32);
  height: pxToRem(12);
  transform: translate(50%, -2px);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background-color: white;
  top: 100%;
  right: 50%;
}
