@import "./typography";
@import "./functions";

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  width: 100vw;
  height: 100vh;
}

body {
  @include text-body;
}

//Google Maps Marker styles
.yNHHyP-marker-view {
  &:active,
  &:focus {
    outline: none;
  }
}

//Google Maps InfoWindow styles
.gm-style-iw {
  transform: translate(-50%, calc(-100% + 14px)) !important;
  overflow: visible !important;
  padding: 0 !important;
  max-height: unset !important;
  max-width: unset !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  & > button {
    display: none !important;
  }
}
.gm-style-iw-tc {
  display: none;
}
.gm-style-iw-d {
  overflow: visible !important;
  max-height: initial !important;
}
