$danger: #FF0000;
$categoryCharity: #FF0000;
$categoryFilm: #E00000;
$categoryPlay: #C00000;
$categoryExhibition: #800000;
$categoryConcert: #363183;
$categoryClubbing: #300860;
$categoryForChildren: #F57C1F;
$categorySport: #499f1C;
$categoryFestival: #FFD700;
$categoryInCity: #587E60;
$categoryGastronomy: #F6EEE3;
$shade800: #424242;
$shade200: #C9C9C9;